.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
Extended Rank Tests for Analyzing Recurrent Event Data.pdf
inst/doc
/doc/
/Meta/
/pkgdown/
data-raw/slurm-logs/
data-raw/zhao-2020-table-simulations/
